@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 10;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
/* newly added css */

body ul{
  list-style: none;
}
body a{
  text-decoration: none;
  color: #786a6a;
  
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header ul{
  display: flex;
  gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  width: 600px;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  

}
.content .input{
  padding-top: 20px;
}
.content .buttons{
  padding: 10px;
}
.content .buttons button{
  padding: 10px;
  color: blueviolet;
  font-weight: 700;
}


button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer{
  /* margin: 10px; */
  display: flex;
  background-color: blanchedalmond;
  justify-content: space-between;
  align-items: end;
  /* padding: 5px; */
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 20px;
}
.footer ul{
  display: flex;
  gap: 16px;
  padding-left: 10px;
 
}

