body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
 display: flex;
 flex-direction: column;
}

.header {
  display: flex;
  height: 60px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding: 0 16px;
  justify-content: start;
  align-items: center;
  
}
.container{
  display: flex;
  /*flex: 1 1 auto;  flex: 1 1 0; grow, shrink, basis */
  flex: 1;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  font-size: 24px;
  color: white;
}

li{
  margin-bottom: 16px;
}


.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0; 
  /* means it will not shirink fixed sized */
  padding: 16px;

}
.cards{
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  gap: 25px;
}
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  width: 250px;
}