body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
  
}

.card {
  width: 400px;
  background: #fff;
  margin: 20px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  text-align: center;
  margin: 0 auto;
  /* auto left right auto means it is the middle of the div */

}