


div{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}
/* * `p`: a green background, white text, and a font size of 18px
* `button`: an orange background and a font size of 18px */


/* 
button{
    background-color: orange;
    font-size: 18px;
} */

